<div class="category-list">

    <span class="category-badge"{{action 'sortByAll'}}>All Nannies</span>
    {{#each model as |category|}}
      <span class="category-badge"{{action 'sortByCategory' category.id}}>{{category.name}}</span>
    {{/each}}


</div>
<br/><br/><br/>
{{outlet}}
