<div class="product-listing">
{{#each model as |post|}}
  <div class="product-card">
    {{#link-to 'blog.show' post}}{{post.title}}{{/link-to}}
    {{product.subtitle}}
    {{product.body}}
    {{#each post.tags as |tag|}}
      {{tag.name}}
    {{/each}}
  </div>
{{/each}}
</div>
