@import "bower_components/materialize/dist/css/materialize";
@import "ember-cli-materialize";
@import "custom";
@import 'addons/ewd-calendar/main';

img.activator {
  height:200px;
  width:200px;
}

body {
  overflow: auto;
}
