// Base.scss copied below
.ember-carousel {
  position: relative;
  width: 100%;
  height: 350px;
  z-index: 10;
}

.slick-dots {
  position: relative;
  margin-top:-100px;
  // top: -200px;
  // bottom:0;
  // right:0;
  // z-index: 10;
}

.category-list {
  position: relative;
  width: 100%;
  padding: 10px;
}

.product-listing {
  position: relative;
  min-width: 600px;
  max-width: 1000px;
  padding: 10px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.product-image-modal {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  float: left;
}
.product-card {
  position: relative;
  width: 200px;
  margin: 20px;
  float: left;
  display: inline-block;

  .product-link-to {
    cursor: pointer;
  }

  .quick-view-product {
    position: absolute;
    top:15px;
    right:0;
    padding: 10px;
    color: white;
    background-color: lightgray;
    z-index: 5;
    font-size: 13px;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: #A9A9A9;
      transition: background-color 0.3s ease-in;
      cursor: pointer;
    }
  }

  .product-image {
    z-index: 3;

  }

}

.product-item-wrapper {
  position: relative;
  padding: 25px 100px;

  h3 {
    position: relative;
    margin: 0 50px;
    padding: 0;
    display: inline-block;

  }

  .item-description {
    position: relative;
    padding: 0;
    margin: 25px 60px;
    display: inline-block;
    font-size: 16px;
  }
}

.product-image {
  position: relative;
  float: left;
}

a {
  .product-card {
    color: black;
  }
}

select {
  display: inline-block;
}

.media-wrapper {
  text-align: center;
}
// End of BASE

header {

  ul {
    display:flex;
    justify-content: center;
  }
}

.sliding-tab-bar {
  border-bottom:none;
}



.contact {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.contact-container {
    width: 400px;
    max-width: 800px;
    flex: 1;
}
.contact h3 {
  color: red;
  text-align: center;
}

.login-form {
  min-width:350px;
  input {
    color:white;
  }
}

.flexbox-container-login {
  display:flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-height:80vh;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flexbox-container {
  display: -ms-flexbox;
	display: -webkit-flex;
  display:flex;
  min-height:100vh;

  // -ms-flex-align: center;
	// -webkit-box-align: center;
  // -webkit-align-items: center;
	// align-items: center;

  // justify-content:center;
}

.section-1 h5 {
  text-align:center;
  text-transform: uppercase;
  color: red;
}
.section-1 p {
  padding:2em;
  font-size:140%;
}

.section-2 {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-content: center;
    min-height: 200px;
    background: grey;
}


.section-2 .item {
    flex: 1;
    margin: 50px 20px;
}
.item {
    width: 250px;
    height: 200px;
    background: #fff;
    z-index: 10;
}





.login-form {
  padding:0 20px;
  height:400px;
  max-height:60%;

}
.register-form {
  padding: 0 20px 40px 20px;
  height:400px;
  max-height:60%;
}


footer.footer-container{
    min-height: 20vh;
    color: #fff;
    display:flex;
    justify-content: space-around;
    .footer-item {
      .fa {
        font-size: 300%;
        margin-top:1em;
      }
    }
  }




.featured-products {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-content: center;
    min-height: 200px;
}


.featured-products .item {
    flex: 1;
    margin: 50px 20px 0px 20px;

}
.item {
    width: 250px;
    height: 200px;
    background: #ECECEC;
    z-index: 10;
    overflow:hidden;

}

.featured-products-text {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-content: center;
  min-height: 100px;
}
.item-text {
  width: 220px;
  height: 100px;
  padding:1em;
}
.fp-h5  {
  padding:0 1em;
}

.padding3 {
  padding:3em;
}

.slides h3 {
  font-size:38px;
  color:white;
}
.slides h5 {
  font-size: 22px;
  color:white;
}

.category-badge {
  padding: 5px;
  background-color: lightblue;
  margin: 5px;
  cursor: pointer;
  float: left;
  color: white;
  border-radius: 3px;
}

.btn-large {
  background:#5c6bc0;
}

.sliding-tab-bar li.tab-highlight {
  padding:1em;
  border-bottom: solid 4px #5c6bc0;
}
.category-badge {
  background: #5c6bc0;
}

.product-card .quick-view-product {
  top:0;
  background-color: #5c6bc0!important;
}

.home-apply-nanny, .home-apply-client {
  height:250px;
}
.home-apply-client {
  
}
.home-apply-nanny {

}
