<h4 class="fp-h5">Featured Sitters</h4>

<div class="featured-products">
  {{#material-box}}<div class="item"></div>{{/material-box}}
  {{#material-box}}<div class="item"></div>{{/material-box}}
  {{#material-box}}<div class="item"></div>{{/material-box}}
  {{#material-box}}<div class="item"></div>{{/material-box}}
</div>
<div class="featured-products-text">
  <div class="item-text">Sitter 1</div>
  <div class="item-text">Sitter 2</div>
  <div class="item-text">Sitter 3</div>
  <div class="item-text">Sitter 4</div>
</div>

{{yield}}
