<section class="home-apply-client">
  <div class="row">
    <div class="col s3 left">

    </div>
    <div class="col s9 right">
      <h1>Looking to Hire One of Our Amazing Nannies?</h1>
      {{yield}}
    </div>

  </div>
</section>
