<header>
  {{#sliding-tab-bar}}
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'store'}}Nannies{{/link-to}}</li>
    <li>{{#link-to 'book'}}Book{{/link-to}}</li>
    <!-- <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
    <li>{{#link-to 'photos'}}Photos{{/link-to}}</li> -->
    <!-- <li>{{#link-to 'partners'}}Partners{{/link-to}}</li> -->
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    {{yield}}
  {{/sliding-tab-bar}}
</header>


<!-- {{#link-to 'index'}}HRC{{/link-to}}
{{#link-to 'store'}}Store{{/link-to}}
{{#link-to 'media'}}Media{{/link-to}}
{{#link-to 'blog'}}Blog{{/link-to}}
{{#link-to 'photos'}}Photos{{/link-to}}
{{#link-to 'partners'}}Partners{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}

{{#md-navbar name='HCR Racing' class='indigo' homeRoute='navbar'}}
  {{#link-to 'index' tagName='li'}}
    {{link-to 'Navbar' 'navbar'}}
  {{/link-to}}
  {{#link-to 'tabs' tagName='li'}}
    {{link-to 'Tabs' 'tabs'}}
  {{/link-to}}
{{/md-navbar}} -->
